.jumbotron p {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
}

#currentweather{
    margin-left: 5%;
    margin-right: 5%;
    padding: 1%;
    border: 1px solid dimgrey;

}
#marsdata{
    margin-left: 5%;
    margin-right: 5%;
    padding: 1%;
}

.row{
    margin-left: 5%;
    margin-right: 5%;
    padding: 1%;
}

#imagecontainer{
    margin: 1%;
    padding: 1%
}

.h2{
margin-left: 5%;
margin-right: 5%;
}